<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "registro", new_user_registration_path %> |
<% if current_user %>
  <%= button_to "logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "login", user_session_path %> |
<% end %>
